.red .color-1 {
  fill: #f41c52;
}

.red .color-2 {
  fill: #ff7e9f;
}

.red .color-3 {
  fill: #ffdd3f;
}

.red .color-4 {
  fill: #47d1ff;
}

.red .color-5 {
  fill: #47d1ff;
}

.green .color-1 {
  fill: #20a10b;
}

.green .color-2 {
  fill: #85d768;
}

.green .color-3 {
  fill: #d0ffbf;
}

.green .color-4 {
  fill: #ff55cf;
}

.green .color-5 {
  fill: #ff55cf;
}

.blue .color-1 {
  fill: #3749e7;
}

.blue .color-2 {
  fill: #8aa9fa;
}

.blue .color-3 {
  fill: #cfddff;
}

.blue .color-4 {
  fill: #ffdd3f;
}

.blue .color-5 {
  fill: #ffdd3f;
}
