.container {
  --glow: #0024a5;
  --grid-color: rgba(255, 255, 255, 0.3);
  --grid-height: 50vh;
  --grid-width: 100vw;

  position: relative;
  z-index: 2;
}

.grid {
  width: var(--grid-width);
  height: var(--grid-height);
  overflow: hidden;
  perspective: calc(var(--grid-height) * 0.75);
}

.grid-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: linear-gradient(180deg, rgba(4, 3, 54, 0) 0%, #040336 61.41%);
}

.glow {
  filter: blur(120px);
  background-color: var(--glow);
  width: var(--grid-width);
  height: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.grid-lines {
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 0),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 0);
  background-size: 45px 30px;
  background-repeat: repeat;
  transform-origin: 100% 0 0;
  animation: play 15s linear infinite;
}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }
  100% {
    transform: rotateX(45deg) translateY(0);
  }
}
