.stars {
  opacity: 0.5;
}

.stars > circle {
  --delay: 0s;
  --duration: 5s;
  
  opacity: 0;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: var(--delay);
}

.stars > circle:nth-child(5n) {
  --delay: 0s;
}

.stars > circle:nth-child(5n + 1) {
  --delay: 2.5s;
}

.stars > circle:nth-child(5n + 2) {
  --delay: 5s;
}

.stars > circle:nth-child(5n + 3) {
  --delay: 7.5s;
}

.stars > circle:nth-child(5n + 4) {
  --delay: 10s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
